/* CSS for LDAP Tool Box Self Service Password */


html {
  min-height:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
body {
  font-size: 12pt;
  height: 100%;
  background-color: #c8e41b;
  background-image: url(../images/ltb_tile_1080p.svg), radial-gradient(at 0% 0%, #f4e07f 0px, transparent 50%), radial-gradient(at 33.3% 33.3%, #f0faca 0px, transparent 50%), radial-gradient(at 66.7% 66.7%, #8bee61 0px, transparent 50%), radial-gradient(at 100% 100%, #8bee61 0px, transparent 50%);
}

.captcha {
  padding-top: 0 !important;
  margin-bottom: 5px !important;
}

a, a:hover {
  text-decoration: none;
}

.card {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}

img.menu-logo {
  display: inline;
  height: 25px;
}

.table {
  margin-bottom: 0;
}

.display img {
  margin-bottom: 20px;
}

div#footer {
  position:fixed;
  bottom:0;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  text-align:center;
  padding:5px;
  width:100%;
}

textarea#sshkey {
  font-family: monospace;
  word-break: break-all;
  resize: vertical;
  min-height: 10em;
}

@media print {

  html, body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
  }

  a[href]:after {
    content: none;
  }

}
