/* CSS for LDAP Tool Box Self Service Password */

html, body {
  background: #eee;
  padding-top: 20px;
  font-size: 12pt;
}

.captcha {
  padding-top: 0 !important;
  margin-bottom: 5px !important;
}

a, a:hover {
  text-decoration: none;
}

.card {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}

img.logo {
  margin-bottom: 20px;
}

img.menu-logo {
  display: inline;
  height: 25px;
}

.table {
  margin-bottom: 0;
}

.display img {
  margin-bottom: 20px;
}

div#footer {
  position:fixed;
  bottom:0;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  text-align:center;
  padding:5px;
  width:100%;
}

textarea#sshkey {
  font-family: monospace;
  word-break: break-all;
  resize: vertical;
  min-height: 10em;
}

@media print {

  html, body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
  }

  a[href]:after {
    content: none;
  }

}
