/* CSS for LDAP Tool Box Self Service Password */

html, body {
  background: #eee;
  padding-top: 20px;
  font-size: 12pt;
}

a, a:hover {
  text-decoration: none;
}

.panel, .alert, .navbar-wrapper {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.panel {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}

img.logo {
  margin-bottom: 20px;
}

img.menu-logo {
  display: inline;
  height: 25px;
}

.table {
  margin-bottom: 0;
}

.display img {
  margin-bottom: 20px;
}

.input-group-addon label {
  margin: 0;
  font-weight: normal;
}

div#footer {
  position:fixed;
  bottom:0;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  text-align:center;
  padding:5px;
  width:100%;
}

@media print {

  html, body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
  }

  a[href]:after {
    content: none;
  }

}
