/* CSS for LDAP Tool Box White Pages */

html, body {
  background: #eee;
  padding-top: 20px;
  font-size: 12pt;
}

a, a:hover {
  text-decoration: none;
}

.panel, .alert, .navbar-wrapper {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.panel {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}

img.logo {
  margin-bottom: 20px;
}

img.menu-logo {
  display: inline;
  height: 25px;
}

.table {
  margin-bottom: 0;
}

.display img {
  margin-bottom: 20px;
}

.input-group-addon label {
  margin: 0;
  font-weight: normal;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
  position: static;
  display:  inline;
  margin-left: 8px;
}

table.dataTable a.link-email:hover::after {
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: 0.5em;
  content: "\f003";
}

table.dataTable a.link-phone:hover::after {
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: 0.5em;
  content: "\f095";
}

div#footer {
  position:fixed;
  bottom:0;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  text-align:center;
  padding:5px;
  width:100%;
}

@media print {

  html, body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
  }

  a[href]:after {
    content: none;
  }

  .row.ft-head,
  .dataTables_length,
  .dataTables_filter,
  .dataTables_paginate,
/*.dataTables_info,*/
  .dt-buttons,
  table.dataTable thead .sorting::after,
  table.dataTable thead .sorting_asc::after,
  table.dataTable thead .sorting_desc::after,
  table.dataTable thead .sorting_asc_disabled::after,
  table.dataTable thead .sorting_desc_disabled::after {
    display: none;
  }

}
