/build/
/node_modules/
/var/*
!/var/cache
!/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
!/var/data
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/public/build/fonts/glyphicons-*
/public/build/images/glyphicons-*
/codeception.yml

/public/build
!/public/build/.gitignore

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###