Source: ltb-project-self-service-password
Section: web
Priority: extra
Maintainer: Clement Oudot <clem@ltb-project.org>
Uploaders: Felix Bartels <felix@host-consultants.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://ltb-project.org/wiki/documentation/self-service-password

Package: self-service-password
Depends: php5, php5-ldap
Architecture: all
Description: LDAP password change web interface
 Self Service Password is a simple PHP application that allows users to change their password on an LDAP directory.
 Self Service Password is provided by LDAP Tool Box project: http://ltb-project.org
