{% extends 'base.html.twig' %}

{% import 'forms.html.twig' as forms %}

{# This template is used when :
 #   - password changed by change password form
 #   - password changed by reset by questions
 #   - password changed by reset by email
 #}
{% block main %}
    {{ forms.show_result('passwordchanged') }}

    {% if enable_password_changed_extra_message %}
        <div class="result alert alert-success">
            <p><i class="fa fa-fw fa-check-square" aria-hidden="true"></i> {{ 'passwordchangedextramessage'|trans|raw }}</p>
        </div>
    {% endif %}
{% endblock %}
