{% extends 'base.html.twig' %}

{% import 'forms.html.twig' as forms %}

{% block main %}
    {% if is_debug and (environment != 'prod') %}
        {% include '@Twig/Exception/exception.html.twig' %}
    {% else %}
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
    {% endif %}
{% endblock %}
