name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      uses: php-actions/composer@v6
      with:
        php_version: 8.4
        command: update
        php_extensions: ldap gd mbstring xdebug
    - name: PHPUnit Tests for php8.4
      uses: php-actions/phpunit@v4
      env:
        XDEBUG_MODE: coverage
      with:
        configuration: tests/phpunit.xml
        version: composer
        php_version: 8.4
        php_extensions: ldap gd mbstring xdebug
        test_suffix: Test.php
        args: --coverage-text

